:root {
    /* Colors */
    // - Branding
    --wt-color-primary: #3D6E7C;
    --wt-color-secondary: #BB9758;
    --wt-color-secondary-light: #ceaa6a;
    // - Interface
    --wt-color-ui-lm-dark: #d5d5d5;
    --wt-color-ui-lm-medium: #e7e7e7;
    --wt-color-ui-lm-light: #f5f5f5;
    --wt-color-ui-dm-dark: #0A181C;
    --wt-color-ui-dm-medium: #162f35;
    --wt-color-ui-dm-light: #213F47;
    // - Text
    --wt-color-text-lm: #1b1b27;
    --wt-color-text-dm: #f1f1f4;
    --wt-color-text-grey: #6F6F6F;
    // - Feedback
    --wt-color-success: #30c419;
    --wt-color-error: #e62c2c;

    /* Font */
    --wt-font-family: 'Inter', sans-serif;
}